* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
::selection {
  color: white;
  background-color: #20c997;
}
.clear-fix {
  clear: both;
}

/* ===========================
    Start Of Home Section
============================== */
header {
  height: 100vh;
  background-image: url(images/intro-bg.jpg);
  background-attachment: fixed;
  background-position: center 0px;
  background-size: cover;
  position: relative;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-main {
  background-color: rgba(17, 20, 24, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
}
.all-nav {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  padding: 20px 25px;
  justify-content: space-between;
  width: 100%;
}
nav {
  padding: 0 30px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.icon-bars {
  color: white;
  cursor: pointer;
  font-size: 1.6rem;
  align-self: flex-start;
}
.check-btn {
  display: none;
}
.check-btn2 {
  display: none;
}
#check {
  display: none;
}

.nav-ul {
  display: flex;
  justify-content: center;
}
nav li {
  padding: 0;
}
nav li a {
  text-transform: capitalize;
  color: white;
  padding: 0px 14px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #20c997;
}

.nav-media a {
  padding: 0 10px;
}
.icons-media {
  color: white;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.icons-media:hover {
  color: #20c997;
}
.main-txt {
  z-index: 2;
  text-align: center;
}
.welcome-p {
  font-weight: 500;
  color: white;
  font-size: 1.75rem;
  margin-bottom: 16px;
}
.im {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 600;
  color: white;
  margin-bottom: 16px;
}
.im::after {
  content: "I'm |";
  font-weight: 600;
  font-size: calc(1.525rem + 3.3vw);
  color: white;
  animation-name: typing;
  animation-duration: 10s;
  animation-iteration-count: infinite;

  animation-fill-mode: backwards;
  animation-timing-function: linear;
}
@keyframes typing {
  0% {
    content: "I'm |";
  }
  2% {
    content: "I'm S|";
  }
  4% {
    content: "I'm Si|";
  }
  6% {
    content: "I'm Sim|";
  }
  8% {
    content: "I'm Simo|";
  }
  10% {
    content: "I'm Simon|";
  }
  12% {
    content: "I'm Simone|";
  }
  14% {
    content: "I'm Simone |";
  }
  16% {
    content: "I'm Simone O|";
  }
  18% {
    content: "I'm Simone Ol|";
  }
  20% {
    content: "I'm Simone Oli|";
  }
  22% {
    content: "I'm Simone Oliv|";
  }
  24% {
    content: "I'm Simone Olivi|";
  }
  26% {
    content: "I'm Simone Olivia|";
  }
  28% {
    content: "I'm Simone Olivi|";
  }
  30% {
    content: "I'm Simone Oliv|";
  }
  32% {
    content: "I'm Simone Oli|";
  }
  34% {
    content: "I'm Simone Ol|";
  }
  36% {
    content: "I'm Simone O|";
  }
  38% {
    content: "I'm Simone |";
  }
  40% {
    content: "I'm Simone|";
  }
  42% {
    content: "I'm Simon|";
  }
  44% {
    content: "I'm Simo|";
  }
  46% {
    content: "I'm Sim|";
  }
  48% {
    content: "I'm Si|";
  }
  50% {
    content: "I'm S|";
  }
  52% {
    content: "I'm |";
  }
  54% {
    content: "I'm a|";
  }
  56% {
    content: "I'm a |";
  }
  58% {
    content: "I'm a D|";
  }
  60% {
    content: "I'm a De|";
  }
  62% {
    content: "I'm a Des|";
  }
  64% {
    content: "I'm a Desi|";
  }
  66% {
    content: "I'm a Desig|";
  }
  68% {
    content: "I'm a Design|";
  }
  70% {
    content: "I'm a Designe|";
  }
  72% {
    content: "I'm a Designer|";
  }
  74% {
    content: "I'm a Designe|";
  }
  76% {
    content: "I'm a Desin|";
  }
  78% {
    content: "I'm a Desi|";
  }
  80% {
    content: "I'm a Des|";
  }
  82% {
    content: "I'm a De|";
  }
  84% {
    content: "I'm a D|";
  }
  86% {
    content: "I'm a |";
  }
  88% {
    content: "I'm a|";
  }
  90% {
    content: "I'm |";
  }
}
.based-p {
  font-size: 1.3rem;
  color: white;
  margin-bottom: 25px;
}
.hire-me-btn {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.8rem 2.6rem;
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
  color: #20c997;
  border: 2px solid #20c997;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.hire-me-btn:hover {
  color: white;
  background-color: #20c997;
}
.scroll-down-arrow {
  position: absolute;
  height: 14px;
  width: 14px;
  z-index: 3;
  border-bottom: 3px white solid;
  border-right: 3px white solid;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  animation-name: scroll-down;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  animation-timing-function: ease-in-out;
  /* animation-fill-mode: backwards; */
  bottom: 60px;
}
@keyframes scroll-down {
  from {
    bottom: 60px;
    opacity: 0;
  }
  to {
    bottom: 20px;
    opacity: 1;
  }
}

/* ===========================
    End Of Home Section
============================== */

/* ===========================
    Start Of About Section
============================== */
#about {
  padding: 72px 0px;
}
.about-container {
  margin: 0px 50px;
  padding: 0 20px;
}
.main-div {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 90px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main-title {
  font-size: 2.25rem;
  color: #212529;
  position: relative;
  z-index: 5;
  right: 0;
  left: 0;
  width: 100%;
}
.main-title::after {
  content: "";
  position: absolute;
  background-color: #20c997;
  width: 80px;
  height: 3px;
  bottom: -10;
  right: 0;
  z-index: -1;
  left: 0;
  margin: auto;
}
.second-title {
  position: absolute;
  color: #dee3e4;
  font-size: calc(1.95rem + 8.4vw);
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.4;
  z-index: 0;
  right: 0;
  left: 0;
}
.about-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-txt {
  width: 60%;
}
.about-txt span {
  color: #20c997;
}
.about-txt h2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 16px;
}
.about-txt p {
  margin-bottom: 16px;
  color: #4c4d4d;
}
.about-id {
  width: 35%;
  padding: 10px 0;
}
.about-id span {
  color: #4c4d4d;
  font-weight: 600;
}
.about-id li {
  padding: 12px 0;
  color: #4c4d4d;
  font-weight: 400;
}
.last-li {
  border-bottom: 1px solid #eaeaea;
}
.e-link {
  color: #20c997;
}
.cv-btn {
  color: white;
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 2.6rem;
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
  background-color: #20c997;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.cv-btn:hover {
  background-color: #1baa80;
}
.about-footer {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about-footer-item {
  text-align: center;
  width: 25%;
  padding: 20px 0;
}
.about-footer-item h4 {
  font-size: calc(1.425rem + 2.1vw);
  color: #6c757d;
  font-weight: 400;
}
.about-footer-item p {
  color: #4c4d4d;
}
.r-border {
  border-right: 1px rgb(187, 187, 187) dotted;
}

/* ===========================
    End Of About Section
============================== */

/* ===========================
    Start Of Services Section
============================== */

#services {
  padding: 72px 0;
  background-color: #f8f9fa;
}
.services-menu {
  margin: 0px 40px;
  display: flex;
  flex-wrap: wrap;
}
.services-items {
  width: 50%;
  padding: 0 20px;
  display: flex;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}
.services-icon {
  width: 20%;
}
.services-txt {
  width: 75%;
  margin-left: 20px;
  margin-top: 10px;
}
.services-txt h3 {
  margin-bottom: 10px;
  color: #252b33;
  font-size: 1.3rem;
  font-weight: 500;
}
.services-txt p {
  color: #4c4d4d;
}
.serv-icon {
  width: 70px;
  height: 70px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-icon {
  color: #20c997;
  font-weight: 900;
  font-size: 30px;
}

/* ===========================
    End Of Services Section
============================== */

/* ===========================
    Start Of Resume Section
============================== */
#resume {
  padding: 72px 0;
}
.resume-container {
  margin: 0 60px;
}
.resume-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.resume-col {
  width: 50%;
  padding: 0 20px;
}
.res-main-title {
  margin-bottom: 24px;
  color: #252b33;
  padding: 0 20px;
}
.res-card {
  border: 1px #dee2e6 solid;
  border-radius: 0.25rem;
  padding: 24px;
  margin-bottom: 25px;
}
.res-years {
  font-size: 14px;
  color: white;
  padding: 2px 12px;
  background-color: #20c997;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 16px;
}
.res-title {
  margin-bottom: 8px;
  font-size: 1.4rem;
  color: #252b33;
  text-transform: capitalize;
  font-weight: 500;
}
.res-univ {
  color: #dc3545;
  margin-bottom: 16px;
}
.res-txt {
  color: #4c4d4d;
}

.skills-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.skills-col {
  padding: 0 20px;
  width: 50%;
}
.skills-title-progress {
  display: flex;
  justify-content: space-between;
}
.skills-title {
  font-weight: 500;
  color: #212529;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.progress-percent {
  color: #212529;
  font-weight: 500;
}
.progress-parent {
  background-color: #e9ecef;
  height: 0.5rem;
  border-radius: 4px;
  position: relative;
  margin-bottom: 24px;
}
.progress-child {
  background-color: #20c997;
  border-radius: 4px;
  position: absolute;
  left: 0;
  width: 65%;
  top: 0;
  bottom: 0;
}
.cv-btn2 {
  color: #6c757d;
  display: inline-block;
  margin: auto;
  margin-top: 48px;
  padding: 0.8rem 2.6rem;
  border: 2px solid #6c757d;
  display: block;
  width: fit-content;
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
  background-color: transparent;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.cv-btn2:hover {
  background-color: #6c757d;
  color: white;
}
.download-icon {
  color: #6c757d;
  margin-left: 15px;
}

/* ===========================
    End Of Resume Section
============================== */

/* ===========================
    Start Of Work Section
============================== */

#mywork {
  padding: 72px 0px;
  background-color: #f8f9fa;
}
.mywork-container {
  margin: 0 60px;
}
.filter-items ul {
  display: flex;
  justify-content: center;
}
.filter-items li {
  padding: 0 15px;
}
.filter-items a {
  color: #7b8084;
  transition: all 0.3s ease-in-out;
}
.filter-items a:hover {
  color: #20c997;
}
.gallery-cols {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.gallery-cols-in {
  padding: 0 10px;
  width: 33.33%;
}
.gallery-div {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  background-color: teal;
  margin-bottom: 20px;
}
.gallery-div img {
  width: 100%;
  border-radius: 5px;
  display: block;
  transition: all 0.3s ease-in-out;
}
.gallery-div:hover img {
  transform: scale(1.1);
  filter: blur(2px);
}

.img-darker {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.gallery-div:hover .img-darker {
  opacity: 1;
}

.img-darker div {
  text-align: center;
}
.img-darker h3 {
  color: white;
  width: 100%;
}
.img-darker p {
  color: white;
}
/* ===========================
    Start Of Work Section
============================== */
/* ===========================
    Start Of Speak Section
============================== */
#speak {
  padding: 72px 0px;
  text-align: center;
}
.speak-menu {
  width: 100%;
  padding: 20px 0;
}
.speak-main-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.sp-main {
  width: 50%;
  padding: 0 10px;
}

.speak-btn {
  margin: 0 10px;
  margin-top: 30px;
  height: 15px;
  width: 15px;
  border: none;
  background-color: rgb(153, 153, 153);
  border-radius: 50%;
}
.speak-btn:hover {
  background-color: #20c997;
}

.speak-card {
  background-color: #f8f9fa;
  width: 100%;
  padding: 48px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.card-top {
  display: flex;
}
.card-top img {
  border-radius: 50%;
}
.speak-id {
  padding: 0 20px;
  text-align: left;
}
.card-bottom {
  text-align: left;
  margin-top: 20px;
}

/* ======================
    Start Of Media Query
========================= */
@media all and (max-width: 992px) {
  nav {
    justify-content: flex-end;
    padding-right: 40px;
  }
  .check-btn {
    display: block;
    justify-self: flex-start;
  }

  .nav-ul {
    display: none;
    padding: 20px 0;
    position: fixed;
    right: 0;
    top: 70px;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .nav-ul li {
    padding: 8px;
    position: relative;
    width: 100%;
  }
  .nav-ul li::after {
    content: "";
    position: absolute;
    right: 20px;
    left: 20px;
    bottom: 0;
    border-bottom: rgb(36, 36, 36) 1px solid;
  }
  .nav-ul li a {
    display: inline-block;
    width: 100%;
  }
  #check:checked ~ .nav-ul {
    display: flex;
  }
  #check:checked ~ .check-btn {
    display: none;
  }
  #check:checked ~ .check-btn2 {
    display: block;
  }
  /* --------------------------------------------------------- */
  .about-txt {
    width: 100%;
  }
  .about-id {
    width: 100%;
  }
  .about-footer-item {
    width: 50%;
    margin-top: 20px;
    border: none;
  }
  .services-items {
    width: 100%;
    padding: 0 5px;
  }
  .resume-col {
    width: 100%;
  }
  .skills-col {
    width: 100%;
  }
  .gallery-cols-in {
    width: 100%;
  }
  .sp-main {
    width: 100%;
    margin-top: 20px;
  }
  /* -------------------------------------------------------------- */

  .about-container {
    margin: 0px 10px;
  }
  .resume-container {
    margin: 0 10px;
  }
  .mywork-container {
    margin: 0 10px;
  }
  .services-menu {
    margin: 0px 10px;
  }
  .html {
    font-size: 14px;
  }
  .second-title {
    font-size: calc(1.95rem + 2.4vw);
  }
  .all-nav
  {
    padding: 20px 10px;
  }
}

/* ======================
    End Of Media Query
========================= */
